.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  background-color: #0078ff;
  p {
    margin-bottom: 5rem;
  }
  .sub-section{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .img-section{
      width: 150px;
      height: 150px;
      object-fit: contain;
      margin-bottom: 15px;
    }
  }
}
